<!DOCTYPE html>
<html>
<head>
  <title>Diamond</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'admin', media: 'all' %>
  <%= javascript_include_tag 'common' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
  <div id='admin-main'>
      <div class='side'>
        <h1><span>DIAMOND ALLIANCE</span></h1>

        <ul class='menu'>
          <li>
            <%= link_to '设置', admin_abouts_path, class: 'btn' %>
          </li>
          <li>
            <%= link_to '分类', admin_categories_path, class: 'btn' %>
          </li>
          <li>
            <%= link_to '条目', admin_entries_path, class: 'btn' %>
          </li>
        </ul>

        <div class='info'>Designed and produced by 六十</div>
      </div>
  </div>
      <div class='body'>
        <div class='panel'>
          <%= link_to '', root_path, class: 'icon', target: '_blank' %>
          <%= yield %>
        </div>
      </div>
</body>
</html>
