<!DOCTYPE html>
<html>
<head>
  <title>Diamond</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'home', media: 'all' %>
  <%= javascript_include_tag 'common' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'home_vue' %>
</head>

<body>
<div class='frame'>
  <div class='main'>
    <div id='home-main'></div>
  </div>
</div>
</body>
</html>
